/****************
  styles-generic-photo-details.css
****************/

*{ margin: 0; padding: 0; -webkit-user-select: none; }
input { -webkit-user-select: auto; }
body	{ 
  margin:0; 
  width:100%; 
  background: #c2c2c2; 
  font-family:Helvetica; 
  font-size: 100%; 
  color: rgba(0, 0, 0, 0.82);
  -webkit-user-select:none; 
  -moz-user-select:none;
  -webkit-text-size-adjust: none;    
}
/* ##### no js ##### */
div.container-no-js {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    text-align: center;
    background-color: #FFF;
}
p.txt-no-js {
    padding:15px 15px 15px 15px;
    font-size: 16px;
    font-weight: bold;
    color: #CC0000;
}
/* ##### end no js ##### */
h2 { position:relative; line-height: 1em; }
h6 { pointer-events:none; }
a { text-decoration:none; }
a img { border:none; }
.background_menu { background-color:#000000; }


#submitButton{background-color:#bbb; border-radius:5px; -webkit-border-radius:5px;}
#container		{ width: 100%; overflow-x: hidden; display:block; }

#scroll-view	{ overflow-x:hidden;background:#c2c2c2; }
body#detail #scroll-view	{ background: #ebebeb; }

#scroller		{ background: #ebebeb; }

header			{ z-index:2; position:absolute; height:62px; top:0px; left: 0; color:white; width: 320px; }
header h1#logo			{ background: url('/images/logo.png') no-repeat; -webkit-background-size: 50px 50px; background-size: 50px 50px; width:50px; height:50px; overflow:hidden; margin: 0; text-indent: -200px; }
header.teflon h1#logo			{  }
/*#headerMenuButton		{ float: right;  position:absolute; top: 10px; right: 10px; width: 52px; height: 31px; pointer-events:all; background: url('/images/button_menu.png') 0 0 no-repeat; -webkit-background-size: 52px 31px; background-size: 52px 31px; }*/
#fbButton		{  position:absolute; top: 16px; right: 72px; float: right; clear: none; width: 31px; height: 31px; pointer-events:all; background: url(/images/button_facebook.png) 0 0 no-repeat; -webkit-background-size: 31px 31px; background-size: 31px 31px; z-index:31;}
#twitterButton	{  position:absolute; top: 16px; right: 115px;float: right; clear: none; width: 31px; height: 31px; pointer-events:all; background: url(/images/button_twitter.png) 0 0 no-repeat; -webkit-background-size: 31px 31px; background-size: 31px 31px; z-index:31;}

/* home page */
.sectionHeader	{ margin: 0; }
h2.sectionHeader{ padding: 16px 0 16px 45px; color: #fff; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background: url(images/header-bg.png) repeat-x; -webkit-background-size: 50px; background-size: 50px; text-align: left; }
h2.sectionHeader.home	{ padding: 16px 0; text-align: center; color: #fff; }
h2.sectionHeader.home a	{ color: #fff; text-decoration: none; }

section			{ background: #ebebeb; display:block; }
.subHeader		{ background-color:#000; padding:5px; color:#fff;}
.main			{ background: #AAA; overflow:hidden; width:100000px; }
article			{ height:150px; padding:0px; float:left; position: relative; border-right:2px solid #8099df; background: #ebebeb; display: table; /* background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(99,99,101)), color-stop(0.56, rgb(161,161,163)), color-stop(1, rgb(61,63,64)) ); */ }


article img		{ width: 128px; height: 128px; background: #fff; float:left; margin:10px; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); /* border-radius: 10px; */ }
article.borderLeft 	{border-left:2px solid #8099df; }
.arrow			{width:33px; height:33px;background:url('/images/more_arrow.png'); background-size: 32px 32px; display:block;position:absolute;bottom:5px;right:5px;}
article h6		{ display: table; margin: 10px 10px 0 0; height: 100px; }
article h6 em	{ font-style: normal; font-size:14px; line-height: 1em; font-weight: normal; margin: 0 10px 40px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); display: table-cell; vertical-align: middle; }
article p.blurb	{ width: 212px; height: 130px; }
article a.go	{ width: 15px; height: 15px; background: #f00; }
article .timestamp	{ position:absolute; bottom:13px; right:45px; font-size: 11px; }

article.underside	{ height:180px; width: 180px; max-height: 180px; overflow: hidden; }
article.underside 		{ -webkit-background-size: 55px 190px; background-size: 55px 190px; }
article.underside h6 {text-align:center;color:#000;font-size:14px; height: 50px !important; width: 120px; margin: 0 0 0 21px; overflow: hidden; }
article.underside h6 em { text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
article.underside img  { width: 128px; height: 128px; background: #fff; display: block; float: none; margin:10px 0 5px 21px; }

section#videos article div.thumbnail	{ width: 128px; height: 128px; float:left; margin:10px; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); border-radius: 10px; -webkit-border-radius:10px;}
div.listnail	{ width: 74px; height: 74px; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); border-radius: 10px; -webkit-border-radius:10px; -webkit-background-size: 100px 75px; background-size: 100px 75px; }
.video_thumbs	{ width: 100%; max-width: 200px; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); border-radius: 10px; -webkit-border-radius:10px; }


.sectionNavi    { position:relative; clear: both; text-align: center; -webkit-box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.5); box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.5); background:#c2c2c2; padding-bottom: 2px; font-size: 12px;}
.sectionNavi ol { margin: 0; padding: 8px 0;list-style: none; }
.sectionNavi ol li { display: inline-block; height: 6px; width: 6px; margin: 0 3px; border-radius: 3px; -webkit-border-radius:3px; background: rgb(0,51,101); }
.sectionNavi ol li.current { background: #fff; }

.floatingLink a	{ color:white; text-decoration:none; }
.floatingLink	{ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F88D90), color-stop(50%,#F24A4F), color-stop(50%,#C00000), color-stop(100%,#7F1114)); border-radius:6px; -webkit-border-radius:6px; text-shadow: 0.1em 0.1em #333; padding:3px; position:absolute; right:5px; top:5px; font-weight:bold; font-size:12px; width:100px; -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }


.marketingBrick	{  position:relative; }
#topBrick		{ height:65px; background:url(tronAd.png) center center no-repeat white; width:100%; overflow:hidden; text-indent:-99999px; }
#videoBrick		{ height:35px; background:url(tronAd.png) no-repeat center white; width:100%; overflow:hidden; text-indent:-99999px; }


h2.sectionHeader.center{ color:#fff; padding: 16px 0 16px 0px; text-align:center; padding:10px; vertical-align: middle;}
h2.sectionHeader.center a{ color:#fff; }
h2.sectionHeader.center a img { height:24px; }

.list-gray-SD {
  width: 100%;
  height: 86px;
  background-color: #EBEBEB;
  margin: 0;
  padding: 0;
}

table.list-gray-SD tr {
  width:100%;
}

.graylines {
  width: 100%;
  height: 1px;
  background: #ADADAD;
  margin: 0;
  padding: 0;
}

.subheader {
  color: black;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  padding-left: 1em;
  background-image: url("/images/iPhone/List/bar_subheader_sl.png");
  background-repeat: repeat-x;
}
.subheader a {
  color: #FFFFFF;
  text-decoration: none;
}
.subheader td a:link,
.subheader td a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.subheader td a:hover,
.subheader td a:active {
  color: #FFFFFF;
  text-decoration: none;
}



.next, .prev {
  background-color: #000000;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3B3B3B), color-stop(100%,black));
  border-radius: 6px;
  -webkit-border-radius: 6px;
  text-shadow: 0.1em 0.1em #333;
  font-weight: bold;
  font-size: 12px;
  width: 100px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  padding: 4px 11px;
}

.photoNav {position:absolute;  width: 100%; z-index:10; margin-top:20px;}
.photoNav ul{list-style:none; padding-left:0px; margin:0; }
.photoNav ul li {padding:0; margin:0px; width:50px; }

.nextPhoto {float:right; background:transparent;}
.nextPhoto a{display:inline-block;}

.prevPhoto {float:left;background:transparent;}
.prevPhoto a{display:inline-block;}


.prev_arrow{
  position:relative;
  height:40px;
  width:40px;
  left:10px;
  background-image:url('/images/iPhone/Home/prev_arrow.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.next_arrow{
  position:relative;
  height:40px;
  width:40px;
  right:10px;
  background-image:url('/images/iPhone/Home/more_arrow.png');
  background-repeat:no-repeat;
  background-size:contain;
}

.photo-title {
  clear: left;
  color: #000000;
  color: rgba(0, 0, 0, 0.82);
  font-family: Arial,Verdana;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.photo-descr {
  clear: left;
  color: #000000;
  color: rgba(0, 0, 0, 0.82);
  font-family: Arial,Verdana;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.photo-credit {
  clear: left;
  color: #000000;
  color: rgba(0, 0, 0, 0.82);
  font-family: Arial,Verdana;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  width: 100%;
  vertical-align: middle;
  line-height: 20px;
}

.nav_table {
  width: 100%;
  background-color: #ccc;
  border-bottom:1px solid black; 
  border-top: 1px solid black;
}

table.nav_table tr td {
  background-color: #C2C2C2;
}

.subheader {
  color: #000000;
  color: rgba(0, 0, 0, 0.82);
  height:28px;
  line-height:28px;
  font-size:12px;
  padding-left:1em;
  background-image: url("/images/iPhone/List/bar_subheader_sl.png");
  background-repeat: repeat-x;
}
.subheader a {
  color:#ffffff;
  text-decoration:none;
}
.total_counter {
  font-size:12px;
}

#homeShareButton{
  background-image:url('/images/iPhone/Details/button_share.png');
  background-size:100% 100%;
  height:25px;
  width:45px;
  margin:0px auto;
}

#header-logo-link {position:absolute;top:0; left:0; max-width: 200px; overflow: hidden; }




#scroll-view	{ width: 100%; }
.main{white-space:no-wrap;}
header	{ width: 100%; }
article { width:300px; }
#buttonContainer, #secondButtonContainer	{ width: 100%; height:100%; }
#buttonContainer .menuButton, #secondButtonContainer .menuButton	{ margin: 20px 0 0 35px; }
#buttonContainer #closeButton1, #secondButtonContainer #closeButton2	{ right: 10px; top: -40px; }
#secondButtonContainer #menuMenuButton		{ left: 10px; bottom: 70px; }
.imageContainer{max-width: 100%; margin: 0px;}


input{-webkit-user-select: all;}
/* Show Specific */
header h1#nologo			{  width:60px; height:58px; line-height:200px; overflow:hidden; margin: 0; }

h2.sectionHeader.center{ color:#fff; padding: 16px 0 16px 0px; text-align:center;}
h2.sectionHeader.center a{ color:#fff; }

#promptHomeScreen{ display:none;}
h2.homeBanner{ padding: 16px 0 16px 0px; color: #fff; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); background: url(/images/iPhone/Home/bar_header_m.png) repeat-x; text-align: center; }
h2.homeBanner a{  color: #fff; text-align: center; }



@media all and (min-width: 1280px) {

    .photo-title { font-size: 18px; }
    .photo-descr { font-size: 16px; }
    .photo-credit { font-size: 13px; }
    .next, .prev { font-size: 14px; }
    .total_counter { font-size: 14px; }
    .sectionNavi    { font-size: 13px; } 
    .categoryTitle { width: 50%; } 
    
    .prev_arrow{
      height:45px;
      width:45px;
      left:10px;
    }
    .next_arrow{
      height:45px;
      width:45px;
      right:10px;
    }
    #homeShareButton{
      height:32px;
      width:58px;
    }
}

@media all and (max-width: 1279px) and (min-width: 1120px) {

    .photo-title { font-size: 18px; }
    .photo-descr { font-size: 16px; }
    .photo-credit { font-size: 13px; }
    .next, .prev { font-size: 14px; }
    .total_counter { font-size: 14px; }
    .sectionNavi    { font-size: 13px; }
    .categoryTitle { width: 50%; }
    
    .prev_arrow{
      height:40px;
      width:40px;
      left:10px;
    }
    .next_arrow{
      height:40px;
      width:40px;
      right:10px;
    }
    #homeShareButton{
      height:32px;
      width:58px;
    }
}

@media all and (max-width: 1119px) and (min-width: 960px) {

    .photo-title { font-size: 18px; }
    .photo-descr { font-size: 16px; }
    .photo-credit { font-size: 13px; }
    .next, .prev { font-size: 14px; }
    .total_counter { font-size: 14px; }
    .sectionNavi    { font-size: 13px; }
    .categoryTitle { width: 50%; }
    
    .prev_arrow{
      height:40px;
      width:40px;
      left:10px;
    }
    .next_arrow{
      height:40px;
      width:40px;
      right:10px;
    }
    #homeShareButton{
      height:32px;
      width:58px;
    }
}

@media all and (max-width: 959px) and (min-width: 800px) {

    .photo-title { font-size: 18px; }
    .photo-descr { font-size: 16px; }
    .photo-credit { font-size: 13px; }
    .next, .prev { font-size: 14px; }
    .total_counter { font-size: 14px; }
    .sectionNavi    { font-size: 13px; }
    .categoryTitle { width: 50%; }
    
    .prev_arrow{
      height:40px;
      width:40px;
      left:10px;
    }
    .next_arrow{
      height:40px;
      width:40px;
      right:10px;
    }
    #homeShareButton{
      height:32px;
      width:58px;
    }
}

@media screen and (max-width: 799px) and (min-width: 640px) {

    .photo-title { font-size: 18px; }
    .photo-descr { font-size: 16px; }
    .photo-credit { font-size: 13px; }
    .next, .prev { font-size: 14px; }
    .total_counter { font-size: 14px; }
    .sectionNavi    { font-size: 13px; }
    .categoryTitle { width: 50%; }
    
    .prev_arrow{
      height:40px;
      width:40px;
      left:10px;
    }
    .next_arrow{
      height:40px;
      width:40px;
      right:10px;
    }
    #homeShareButton{
      height:32px;
      width:58px;
    }
}

@media screen and (max-width: 639px) and (min-width: 480px) {

    .photo-title { font-size: 18px; }
    .photo-descr { font-size: 16px; }
    .photo-credit { font-size: 13px; }
    .next, .prev { font-size: 14px; }
    .total_counter { font-size: 14px; }
    .sectionNavi    { font-size: 13px; }
    .categoryTitle { width: 50%; }
    
    .prev_arrow{
      height:40px;
      width:40px;
      left:10px;
    }
    .next_arrow{
      height:40px;
      width:40px;
      right:10px;
    }
    #homeShareButton{
      height:25px;
      width:48px;
    }
}

@media screen and (max-width: 479px) and (min-width: 360px) {

    .photo-title { font-size: 16px; }
    .photo-descr { font-size: 14px; }
    .photo-credit { font-size: 12px; }
    .next, .prev { font-size: 12px; padding: 4px 11px;}
    .total_counter { font-size: 12px; }
    .sectionNavi { font-size: 12px; }
    .categoryTitle { width: 45%; }

    .prev_arrow{
      height:40px;
      width:40px;
      left:10px;
    }
    .next_arrow{
      height:40px;
      width:40px;
      right:10px;
    }
    #homeShareButton{
      height:25px;
      width:48px;
    }
}

@media screen and (orientation:portrait) {

}
@media screen and (orientation:landscape) {

}
  
  
  
  
  
/*********** 
  dropdown menu 
***********/

.dropdown{
    position:absolute;
    z-index:300;
    overflow:hidden;
    width:100%;
    height:392px;
    top:60px;
} 
#container.dropdownHide,
.dropdownHide{
    display:none;
}
.dropdown ul{
    position:absolute;
    width:100%;
}
.dropdown ul li{
    height:110px;
    line-height:110px;
    font-size:32px;
    background:url("/doors/img/doors/arrow.png") no-repeat center right;
    background-size:20px;
    background-color:#fffff2;
    border-bottom:1px solid #DEDED6;
    width:100%;
    display:inline-block;
}
.dropdown ul li:hover{
   background-color:#AFAFAF;
}
.dropdown a{
    color:#000;
    /*margin-left:29px;*/
    margin-left:20px;
    width:100%;
    height:100%;
    display:inline-block;
}
.shadow{
    width: 100%;
    height: 14px;
    position: absolute;
    z-index: 21;
    box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.75);
    top: -14px;
}
.categoryTitle {
    margin: 3px 0 0 0;
    width:45%;
    text-align: right;
    display: block;
    background: none;
    font-weight:normal;
    font-size:19px;
}
.clearHeaderPos {
    height: 60px;
}
.latest-container {
    height: 180px;
    overflow: hidden;
    width: 100%;
}

	.dropdown ul li{
		height:55px;
		line-height:55px;
		font-size:16px;
	}
  .menuLink{
    width: 49px;
    background-size: 49px 64px;
    background-position: top left;
    text-indent:-9999em;
    position: absolute;
    right: 10px;
    top:17px;
    z-index:300;
    color:#fff;
    font-size:18px;
    font-weight:bold;
  }
  
  .menuLinkMulti{
    background:url('/doors/img/doors/menu_small.png');
    height: 32px;
  }
  .menuLinkDE{
    background:url('/doors/img/doors/menu_ger.png');
    height: 32px;
  }

	.menuActive{
    background-size: 49px 64px;
		background-position: bottom left;
		text-indent: -9999em;
	}
	#fbButton, #twitterButton{
		margin-right:0;
	}
	h2.sectionHeader{
		padding: 16px 0;
	}
	#logo2	{ 
		background: url('/doors/img/doors/logo_60.png') no-repeat left top;
		background-size: 100% 100%;
		width: 72px; 
		height: 60px; 
		overflow: hidden; 
		margin: 0;	
		text-intend:-200px;
    position:relative;
    left: 0px;
	}
  .dropdownHeader {
    position: relative;
    top:0;
    width:100%;
    height:60px;
    background-color:#000000;
    z-index:200;
  }
  #logoActive {
    background: url('/doors/img/doors/logo_60.png') no-repeat left top;
    background-size: 100% 100%;
    width: 72px; 
    height: 60px; 
    overflow: hidden; 
    margin: 0;	
    text-intend:-200px;
    position:relative;
    left: 0px;
  }
  #headerMenuButton {
      display:none;
  }

@media screen and (max-width: 320px){
    .categoryTitle { margin: 5px 0 0 45px; text-align:left;}
}
